.VerificatioNPage{
    height: 100vh;
    width: 100vw;
    background: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
}


.VerificatioNPageWrapper{
    height:60%;
    width: 40%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: -5px -7px 25px -3px rgba(204, 212, 247, 0.69);
    -moz-box-shadow: -5px -7px 25px -3px rgba(189, 200, 249, 0.69);
    box-shadow: -5px -7px 25px -3px rgba(189, 200, 249, 0.69);
    
}


.VerificatioNPageWrapper1{
    height: 90%;
    width: 90%;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.textsWrapper{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: green; */
    font-size: 27px;
    /* padding-left: 50px; */
    flex-direction: column;
    color: rgb(53, 49, 49);
}


.dashBoardApi{
    height: 15%;
    width: 40%;
    background-color:  rgb(44, 143, 200);
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}